<div class="aside-navbar">
    {% if not user %}
        <div><a href="login.php"><img class="rrss-icon" src="static/image/login.png" alt="Iniciar sesion"/><span>Iniciar sesion</span></a></div>
        <div><a href="signup.php"><img class="rrss-icon" src="static/image/signup.png" alt="Crear cuenta"/><span>Crear cuenta</span></a></div>
    {% else %}
        {% if user.rol == "superuser" %}
            <div><a href="usuarios.php"><img class="rrss-icon" src="static/image/users.png" alt="Ver usuarios"/><span>Ver usuarios</span></a></div>
        {% endif %}
        {% if user.rol == "superuser" or user.rol == "moderador" %}
            <div><a href="comentarios.php"><img class="rrss-icon" src="static/image/comments.png" alt="Ver comentarios"/><span>Ver comentarios</span></a></div>
        {% endif %}
        {% if user.rol == "superuser" or user.rol == "gestor" %}
            <div><a href="add_product.php"><img class="rrss-icon" src="static/image/add_product.png" alt="Añadir producto"/><span>Añadir producto</span></a></div>
        {% endif %}
        <div><a href="profile.php"><img class="rrss-icon" src="static/image/profile.png" alt="Cerrar sesion"/><span>Editar perfil</span></a></div>
        <div><a href="logout.php"><img class="rrss-icon" src="static/image/logout.png" alt="Cerrar sesion"/><span>Cerrar sesion</span></a></div>
    {% endif %}
</div>