<div class="wrap-search-bar-results">
    <div class="centrar">
        <div class="wrap-search-bar">
            <div class="search-input"><input id="search-input" type="text" placeholder="Buscar producto..."></div>
            <div class="search-icon" id="search-icon"><i class="fa fa-search"></i></div>
        </div>
    </div>
    <div class="centrar">
        <div class="wrap-results">
            <ul class="result-list" id="search-result">
                {# <a class="link-product" href="producto.php?id=1">
                    <div class="wrap-nombre">Jordan X Dior</div>
                </a> #}
            </ul>    
        </div>
    </div>
</div>