<div class="aside-navbar">
    {% if not user %}
        <div><a href="login.php"><img class="rrss-icon" src="static/image/login.png" alt="Iniciar sesion"/><span>Iniciar sesion</span></a></div>
        <div><a href="signup.php"><img class="rrss-icon" src="static/image/user.png" alt="Crear cuenta"/><span>Crear cuenta</span></a></div>
    {% else %}
        <div><a href="logout.php"><img class="rrss-icon" src="static/image/logout.png" alt="Cerrar sesion"/><span>Cerrar sesion</span></a></div>
    {% endif %}
</div>