<div class="aside-navbar">
    <div><a target="_blank" href="https://www.instagram.com/stockx/"><img class="rrss-icon" src="static/image/instagram_icon.png" alt="StockX Instagram"/><span>Instagram</span></a></div>
    <div><a target="_blank" href="https://twitter.com/stockx"><img class="rrss-icon" src="static/image/twitter_icon.png" alt="StockX Twitter"/><span>Twitter</span></a></div>
    <div><a target="_blank" href="https://www.youtube.com/stockx"><img class="rrss-icon" src="static/image/youtube_icon.png" alt="StockX YouTube"/><span>YouTube</span></a></div>
    <div><a target="_blank" href="https://www.nike.com/es/"><img class="rrss-icon" src="static/image/nike_icon.png" alt="Web Nike"/><span>Nike</span></a></div>
    <div><a target="_blank" href="https://virgilabloh.com"><img class="rrss-icon" src="static/image/offwhite_icon.png" alt="Virgil Abloh Web"/><span>Virgil Abloh</span></a></div>
    <div><a target="_blank" href="https://www.taschen.com/pages/es/catalogue/fashion/all/08018/facts.virgil_abloh_nike_icons.htm"><img class="rrss-icon" src="static/image/book_icon.png" alt="Virgil Abloh Book"/><span>Virgil Abloh's book</span></a></div>
</div>