<!DOCTYPE html>
<html>
    <head>
        {% include "common/head.html" %}
    </head>

    <body>
        <!-- div que incorpora el resto de contenedores -->
        <div class="body-container">
            <!-- header contiene las barras de navegacion y el logo -->
            <header>
                {% block navbar %}
                    {% include "common/header.html" %}
                {% endblock %}
            </header>
            <section class="article-asidebar">
                <article>
                    {% block main_article %}
                    {% endblock %}
                </article>
                <aside>
                    {% include "common/asideNavBar.html" %}
                </aside>
            </section>
            <!-- footer con información de copyright e identificación del desarrollador -->
            <footer>
                {% include "common/footer.html" %}
            </footer>
        </div>
    </body>
    {% block scripts %}
    {% endblock %}
</html>