{% extends "base.html" %}
    {% block main_article %}
        <!-- galería de productos -->
        <div class="product-grid">
            <div class="product">
                <!-- vista del producto -->
                <div class="product-img">
                    <a href="producto.html"><img src="static/image/jordan_1.png" alt="Jordan x Dior"/>
                        <div class="product-img-overlay"><div class="sneaker-name">Jordan 1 X Dior</div></div>
                    </a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="producto.html"><img src="static/image/jordan_2.png" alt="Jordan Mid Lanen"/>
                        <div class="product-img-overlay"><div class="sneaker-name">Jordan Mid Lanen</div></div>
                    </a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="producto.html"><img src="static/image/jordan_3.png" alt="Jordan Light Blue"/>
                        <div class="product-img-overlay"><div class="sneaker-name">Jordan Light Blue</div></div>
                    </a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="producto.html"><img src="static/image/jordan_4.png" alt="Jordan Tie Dye"/>
                        <div class="product-img-overlay"><div class="sneaker-name">Jordan Tie Dye</div></div>
                    </a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="producto.html"><img src="static/image/jordan_5.png" alt="Jordan A Ma Maniére"/>
                        <div class="product-img-overlay"><div class="sneaker-name">Jordan A Ma Maniére</div></div>
                    </a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="producto.html"><img src="static/image/jordan_6.png" alt="Jordan Light Iron Ore"/>
                        <div class="product-img-overlay"><div class="sneaker-name">Jordan Light Iron Ore</div></div>
                    </a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="producto.html"><img src="static/image/af1_1.png" alt="AF1 Classic"/>
                        <div class="product-img-overlay"><div class="sneaker-name">AF1 Classic</div></div>
                    </a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="producto.html"><img src="static/image/af1_2.png" alt="AF1 University Blue"/>
                        <div class="product-img-overlay"><div class="sneaker-name">AF1 University Blue</div></div>
                    </a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="producto.html"><img src="static/image/af1_3.png" alt="AF1 Psychic Blue"/>
                        <div class="product-img-overlay"><div class="sneaker-name">AF1 Psychic Blue</div></div>
                    </a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="producto.html"><img src="static/image/dunk_1.png" alt="Dunk Low Essential Paisley"/>
                        <div class="product-img-overlay"><div class="sneaker-name">Dunk Low Essential Paisley</div></div>
                    </a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="producto.html"><img src="static/image/dunk_2.png" alt="Dunk Low StrangeLove"/>
                        <div class="product-img-overlay"><div class="sneaker-name">Dunk Low StrangeLove</div></div>
                    </a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="producto.html"><img src="static/image/dunk_3.png" alt="Dunk Low Green Glow"/>
                        <div class="product-img-overlay"><div class="sneaker-name">Dunk Low Green Glow</div></div>
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}