body{
    font-family: 'Times New Roman', Times, serif;
}

.navbar-logo{
    display: flex;
    justify-content: left;
    align-items: center;
}

.navbar-right, .navbar-left, .navbar-small{
    display: none;
}

.header-title{
    display: none;
}

section{
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

article{
    min-width: 90%;
    max-width: 90%;
    padding: 0px;
    margin: 0px;
}

aside{
    display: none;
}

.product-review, .product-buy, .print-product, .comment-link, .comment-form-container{
    display: none;
}

footer{
    color: var(--text-color);
    background-color: white;
    border: 0px;
    box-shadow: none;
}

.div-moderador {
    display: none;
}