{% extends "base.html" %}
    {% block main_article %}
        <div class="login-signup-cont">
            <div class="login-signup-form">
                <form action="edit_producto.php?id={{ producto.id }}" method="post" enctype="multipart/form-data">
                    <div class="login-signup-title">
                        <h1 class="msg">Editar producto</h1>
                    </div>
                    <div class="form-input">
                        <span class="info-span">Nombre del artículo: {{ producto.name }}</span>
                    </div>
                    <div class="form-input">
                        <input name="sneaker-name" type="text" placeholder="Introduzca el nuevo nombre del producto" value="{{ producto.name }}">
                    </div>
                    <p class="error">{{ errores.sneakerName }}</p>
                    <div class="form-input">
                        <span class="info-span">Descripción del artículo: {{ producto.description }}</span>
                    </div>
                    <div class="form-input">
                        <input name="sneaker-description" type="text" placeholder="Introduzca la nueva descripción del producto" value="{{ producto.description }}">
                    </div>
                    <p class="error">{{ errores.sneakerDescription }}</p>
                    <div class="form-input">
                        <span class="info-span">Precio del artículo: {{ producto.precio }}</span>
                    </div>
                    <div class="form-input">
                        <input name="sneaker-price" type="number" min="0" placeholder="Introduzca el nuevo precio del producto" value="{{ producto.precio }}">
                    </div>
                    <p class="error">{{ errores.sneakerPrice }}</p>
                    <div class="form-input">
                        <span class="info-span">Eliminar imagen</span>
                    </div>
                    {% for image in images %}
                    <div class="form-input">
                        <span><img class="delete-image" src="static/image/{{ image.image_name }}"></span>
                        <div class="wrap-delete-image"><a href="borrar_imagen.php?id={{ image.id }}" class="delete-image-button"><i class="fas fa-minus"></i></a></div>
                    </div>
                    {% endfor %}
                    <div class="form-input">
                        <span class="info-span">Añadir nueva imagen</span>
                    </div>
                    <div class="form-input">
                        <label for="estado">Estado:</label>
                        <select class="rol-dropdown" name="estado">
                            {% if producto.estado == "publicado" %}
                                <option value="publicado" selected="selected">Publicar</option>
                                <option value="sin publicar">Sin publicar</option>
                            {% else %}
                                <option value="publicado">Publicar</option>
                                <option value="sin publicar" selected="selected">Sin publicar</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-input">
                        <input name="sneaker-images" type="file" min="0" max="1">
                    </div>
                    <input name="sneaker-id" type="text" class="hidden" value="{{ producto.id }}">
                    <div class="form-input-button">
                        <input class="form-button" name="login-submit" type="submit" value="Editar producto">
                    </div>
                </form>
                <div class="login-signup-question">
                    <a href="producto.php?id={{ producto.id }}"><span>Cancelar</span></a>
                </div>
            </div>
        </div>
    {% endblock %}