{% extends "base.html" %}
    {% block main_article %}
        <!-- galería de productos -->
        <div class="product-grid">
            {% for item in gallery %}
                {% if item.sneaker.estado == "publicado" or user.rol == "gestor" or user.rol == "superuser" %}
                    <div class="product">
                        <!-- vista del producto -->
                        <div class="product-img">
                            <a href="producto.php?id={{ item.sneaker.id }}" class="{{item.sneaker.estado}}"><img src="static/image/{{ item.image_name }}" alt="Embedded Image"/>
                                <div class="product-img-overlay">
                                    <div class="sneaker-name">{{ item.sneaker.name }}</div>
                                </div>
                            </a>
                            {% if user.rol == "superuser" or user.rol == "gestor" %}
                                <div class="div-moderador">
                                    <div class="comment-edit-button">
                                        <a href="edit_producto.php?id={{ item.sneaker.id }}">Editar</a>
                                    </div>
                                    <div class="comment-edit-button">
                                        <a href="add_tag.php?id={{ item.sneaker.id }}">Añadir etiqueta</a>
                                    </div>
                                    <div class="comment-edit-button delete">
                                        <a href="borrar_producto.php?id={{ item.sneaker.id }}">Eliminar</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endblock %}