{% extends "base.html" %}
    {% block main_article %}
        {% if user.rol == "superuser" %}
        <div class="login-signup-cont">
            <div class="wrap-users-list">
                {% for item in users %}
                    <div class="wrap-user">
                        <div class="wrap-span">
                            <span>Nombre de usuario: {{ item.nickname }}</span>
                        </div>
                        <div class="wrap-span">
                            <span>Correo electrónico: {{ item.email }}</span>
                        </div>
                        <div class="wrap-span">
                            <span>Rol: {{ item.rol }}</span>
                        </div>
                        <div class="edit-button">
                            <a href="editar_usuario.php?nickname={{ item.nickname }}">Editar</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endblock %}