{% extends "base.html" %}
    {% block main_article %}
        {% if user.rol == "superuser" or user.rol == "gestor" %}
            <div class="login-signup-cont">
                <div class="login-signup-form">
                    <form action="add_tag.php?id={{ id }}" method="post">
                        <div class="login-signup-title">
                            <h1 class="msg">Añadir etiqueta</h1>
                        </div>
                        <div class="form-input">
                            <input id="input-comment" name="new-tag" type="textarea" placeholder="Introducir etiqueta ...">
                        </div>                      
                        <input class="hidden" name="sneaker-id" type="text" value="{{ id }}">
                        <div class="form-input-button">
                            <input class="form-button" name="actualizar-submit" type="submit" value="Añadir etiqueta">
                        </div>
                    </form>
                    <div class="login-signup-question">
                        <a href="producto.php?id={{ id }}"><span>Cancelar</span></a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
    {% block scripts %}
        <script src="static/js/producto.js"></script>
    {% endblock %}