{% extends "base.html" %}
    {% block main_article %}
        {% if user.rol == "superuser" or user.rol == "moderador" %}
            <div class="login-signup-cont">
                <div class="login-signup-form">
                    <form action="edit_comment.php" method="post">
                        <div class="login-signup-title">
                            <h1 class="msg">Editar comentario</h1>
                        </div>
                        <div class="form-input">
                            <input id="input-comment" name="new-comment" type="textarea" placeholder="{{ comment.comment }} ...">
                        </div>                      
                        <input class="hidden" name="id-comment" type="text" value="{{ comment.id }}">
                        <div class="form-input-button">
                            <input class="form-button" name="actualizar-submit" type="submit" value="Actualizar">
                        </div>
                    </form>
                    <div class="login-signup-question">
                        <a href="producto.php?id={{ comment.id_sneaker }}"><span>Cancelar</span></a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
    {% block scripts %}
        <script src="static/js/producto.js"></script>
    {% endblock %}