{% extends "base.html" %}
    {% block main_article %}
        <!-- nombre del producto, valoracion, imágen, botón de compra y precio -->
        <div class="product-description">
            <!-- nombre del producto y valoracion -->
            <div class="product-review-buy">
                <h1>{{ info.nombre }}</h1>
                <div class="product-review">
                    <img src="static/image/starts_review.png"> <span>{{ info.valoraciones }} valoraciones</span>
                </div>
            </div>
            <!-- imágen y pie de foto -->
            <div class="product-description-img">
                {% for image in images %}
                    <img src="static/image/{{ image['image_name'] }}" alt="Embedded Image" />
                {% endfor %}
            </div>
            <!-- botón de compra -->
            <div class="product-buy">
                <a href="#" class="buy-button">Comprar</a> <h2>{{ info.precio }} €</h2>
            </div>
        </div>
        <div class="print-product">
            <a href="producto.php?id={{ info.id }}&imprimir" class="print-button">Imprimir</a>
        </div>
        {% if user.rol == "superuser" or user.rol == "gestor" %}
            <div class="div-moderador">
                <div class="comment-edit-button">
                    <a href="edit_producto.php?id={{ info.id }}">Editar</a>
                </div>
                <div class="comment-edit-button">
                    <a href="add_tag.php?id={{ info.id }}">Añadir etiqueta</a>
                </div>
                <div class="comment-edit-button delete">
                    <a href="borrar_producto.php?id={{ info.id }}">Eliminar</a>
                </div>
            </div>
        {% endif %}
        <!-- descripción del producto -->
        <p>
            {{ info.descripcion }}
        </p>

        {% if user %}
            <div class="comment-link" id="id-comment-link">
                <span>Comentarios </span>
                <i class="fa-solid fa-caret-right" id="comment-arrow"></i>
            </div>

            <div class="comment-form-container" id="id-comment-form-container">
                <div class="comments">
                    <ul class="ul-list-comment" id="id-ul-list-comment">
                        {% for comment in comments %}
                            <li class="li-list-comment"> 
                                <div class="comentario">
                                    <div class="autor-fecha">
                                        {% for item in usuarios %}
                                            {% if comment['user_id'] == item['id'] %}
                                                <span class="autor">{{ item['nickname'] }}</span>
                                            {% endif %}
                                        {% endfor %}
                                        <span class="fecha">{{ comment['fecha'] }}</span>
                                    </div>
                                    <div class="div-resena">
                                        <span class="resena">{{ comment['comment'] }}</span>
                                    </div>
                                    {% if comment['editado'] == "true" %}
                                        <div class="div-resena">
                                            <span class="moderado">Este comentario ha sido editado por un moderador</span>
                                        </div>
                                    {% endif %}
                                    {% if user.rol == "superuser" or user.rol == "moderador" %}
                                        <div class="div-moderador">
                                            <div class="comment-edit-button">
                                                <a href="edit_comment.php?id={{ comment['id'] }}">Editar</a>
                                            </div>
                                            <div class="comment-edit-button delete">
                                                <a href="borrar_comment.php?id={{ comment['id'] }}">Eliminar</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="formulario">
                    <form>
                        <input class="hidden" id="input-name" type="text" value="{{ user.nickname }}">
                        <input class="hidden" id="input-mail" type="text" value="">
                        <div class="form-input">
                            <textarea id="input-comment" placeholder="Introduzca su comentario..."></textarea>
                        </div>
                        <input class="hidden" id="id-sneaker" type="text" value="{{ info.id }}">
                        <div class="form-input-button">
                            <input class="form-button" id="input-submit" type="button" value="Enviar">
                            <input class="form-button" id="input-reset" type="reset">
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
        
    {% endblock %}
    {% block scripts %}
        <script src="static/js/producto.js"></script>
    {% endblock %}