.gallery-asidebar{
    min-width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    margin-top: 23px;
}

.gallery{
    min-width: 75%;
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.product{
    float: left;
    width: 33%;
}

.product-img{
    padding: 10px;
    position: relative;
}

.product-img img{
    width: 100%;
    height: auto;
    display: block;
}

.product-img a{
    display: block;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    background-color: rgb(218, 218, 218);
    transition-duration: 1s;
}

.product-img:hover .overlay{
    opacity: 1;
}

.sneaker-name{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: black;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@media only screen and (max-width: 900px) {

    .product{
      width: 49.99999%;
      margin: 6px 0;
    }
}
  
@media only screen and (max-width: 500px) {

    .product{
        width: 100%;
    }
}