/*
    BODY CONTAINER --> HEADER, CONT-SIDE Y FOOTER
*/

.body-container{
    height: 100%;
    width: 100%;
    /* background-image: url("../image/background.jpg"); */
}

/* 
HEADER --> LOGO, TÍTULO Y MENÚ DE NAVEGACIÓN
*/

.header{
    width: 100%;
    min-height: 20%;
    max-height: 20%;
    display: flex;
}

.logo{
    min-width: 25%;
    max-width: 25%;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    align-content: center;
}

.logo a{
    max-width: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
    align-content: center;
}

.a-img img{
    object-fit: scale-down;
    padding: auto;
    margin: auto;
    
}

.cont-title-menu{
    min-width: 75%;
    max-width: 75%;
    min-height: 100%;
    max-height: 100%;
    margin: 0px;
}

.cont-title-menu-ins{
    min-height: 50%;
    max-height: 50%;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cont-title-menu-ins img{
    object-fit: cover;
}

.cont-title-menu-ins ul{
    display: flex;
    padding: 0px;
    padding-bottom: 20px;
    width: 70%;
    max-width: 70%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cont-title-menu-ins li{
    display: inline;
    margin: 0px auto;
}

.cont-title-menu-ins a{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 13px;
    background-color: #01653c;
}

/* .cont-title-menu-ins a:visited{
} */

.cont-title-menu-ins a:hover{
    color: black;
    text-decoration: none;
    box-shadow: 10px 10px 5px #01653c;
    -moz-box-shadow: 0 0 10px #01653c;
    -webkit-box-shadow: 0 0 10px #01653c;
    box-shadow: 0 0 10px #01653c;
    background-color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}

.cont-title-menu-ins li{
    display: inline;
    margin: 0px auto;
}

.cont-title-menu-ins span{
    font-size: 50px;
    color: #01653c;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*
    CONT-SIDE --> GRID Y PANEL LATERAL
*/

.cont-side{
    width: 100%;
    min-height: 70%;
    max-height: 70%;
    display: flex;
}

.cont{
    min-height: 100%;
    max-height: 100%;
    min-width: 75%;
    max-width: 75%;
}

.cont-row{
    width: 100%;
    height: 33%;
    margin: auto 0px;
    display: flex;
}

.cont-producto-grid{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    align-content: center;
}

.cont-producto-grid img:hover{
    border-radius: 10px;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    background-color: rgb(218, 218, 218);
    transition-duration: 1s;
}

.side{
    width: 25%;
    min-height: 100%;
}

.footer{
    width: 100%;
    min-height: 10%;
    max-height: 10%;
}