.article-asidebar{
    min-width: 100%;
    max-width: 100%;
    margin-top: 10px;
    display: flex;
}

article{
    min-width: 70%;
    max-width: 70%;
    margin: 30px;
    margin-top: 0px;
}

.product-description{
    width: 100%;
    height: max-content;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product-description-img{
    min-width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: block;
}

.product-description-img img{
    width: 400px;
    margin: 0px calc(50% - 200px);

}

.product-review-buy{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: block;
}

.product-review-buy h1 {
    font-size: x-large;
    text-align: center;
    height: fit-content;
    min-width: 100%;
    max-width: 100%;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.product-review, .product-buy {
    max-width: fit-content;
    max-height: fit-content;
    margin: 0px auto;
    display: flex;
    align-content: center;
    justify-content: center;
    
}

.caption{
    text-align: center;
    min-width: 100%;
    max-width: 100%;
    display: block;
}

.product-buy {
    min-width: 100%;
    margin-top: 20px;
}

.product-review img{
    height: 30px;
}

.product-review span, .product-review a, .product-review h2, .product-buy span, .product-buy a, .product-buy h2{
    margin: auto 0px auto 20px;
}

.buy-button {
    color: white;
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

.buy-button:hover{
    background-color: var(--button-color);
    box-shadow: 10px 10px 5px var(--primary-color);
    -moz-box-shadow: 0 0 10px var(--primary-color);
    -webkit-box-shadow: 0 0 10px var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
    transition-duration: 0.5s;
}