<div class="navbar-logo">
    <!-- barra de navegación que se sitúa a la izquierda del logo -->
    <div class="navbar-left">
        <a href="producto.html">"PRODUCTO"</a>
        <a href="producto_imprimir.html">"IMPRIMIR"</a>
    </div>
    <!-- logo de la web que contiene un enlace a la página principal -->
    <div class="logo">
        <a href="index.php">
            <img src="static/image/StockX-Logo.jpg" alt="Logo"/>
        </a>
    </div>
    <!-- barra de navegación que se sitúa a la derecha del logo -->
    <div class="navbar-right">
        <a href="producto.html">"CONTACTO"</a>
        <a href="producto.html">"AYUDA"</a>
    </div>

    <!-- navbar-small está oculta a menos que la anchura de la pantalla igual o menos a 900px -->
    <div class="navbar-small">
        <a href="producto.html">"PRODUCTO"</a>
        <a href="producto_imprimir.html">"IMPRIMIR"</a>
        <a href="producto.html">"CONTACTO"</a>
        <a href="producto.html">"AYUDA"</a>
    </div>
</div>
<div class="header-title">
    <h1 class="msg">FIT YOUR FEET!</h1>
</div>
